body{
    background-color: gray;
    font-weight:bolder;
}

.copy_right_footer{
    bottom:0;
    left:0;
    text-align: center;
    line-height:3;
    background-color:white;
    position:absolute;
    width:100%;
}